/demows1/target
/demows1/.settings
/demows1/.mvn
/demows1/.classpath
/demows1/.project

/demows2/target
/demows2/.settings
/demows2/.mvn
/demows2/.classpath
/demows2/.project

/eureka-server/target
/eureka-server/.settings
/eureka-server/.mvn
/eureka-server/.classpath
/eureka-server/.project

/gateway/target
/gateway/.settings
/gateway/.mvn
/gateway/.classpath
/gateway/.project